html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  color: rgb(28, 32, 34);
  background-color: rgb(250, 250, 250);
  min-height: 100vh;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}