html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "barlow", sans-serif;
  color: rgb(28, 32, 34);
  background-color: rgb(250, 250, 250);
  min-height: 100vh;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

:root {
  --main-color: rgb(62, 84, 163);
  --newbie: rgb(106, 190, 205);
  --junior: rgb(170, 215, 66);
  --intermediate: rgb(241, 182, 4);
}
