@font-face {
  font-family: 'barlow';
  src: url(../Fonts/Barlow/Barlow-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Heebo';
  src: url(../Fonts/Heebo/Heebo-VariableFont_wght.ttf) format('truetype');
}


@font-face {
  font-family: 'Outfit';
  src: url(../Fonts/Outfit/Outfit-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url(../Fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  src: url(../Fonts/Work_Sans/WorkSans-VariableFont_wght.ttf) format('truetype');
}